.card-container {
    height: 350px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    background-color: black;
    margin-left: 50px;
}

/* @media screen and (max-width: 600px) {
    .card-container {
        margin-left: 150px;
    }
  } */

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img {
    overflow: hidden;
    height: 200px;
    width: 500px;
}

.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
    margin-left: 3rem;
    align-items: center;
}

h3,p {
    margin: 0;
    padding: 0;
    color: white;
}

.card-title {
    margin-bottom: 0.5 rem;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;

}

.btn:hover {
    background: rgba(27, 156, 252, 0.1);
    transform: scale(1.1px);
}

a{
    text-transform: uppercase;
    color: #1B9CFC;
    text-decoration: none;
    font-weight: bold;
}